{% extends "base.html" %}

{% block content %}

<p>
    La cromoterapia, también conocida como terapia de los colores, es una terapia alternativa donde se utilizan colores básicos como rojo, anaranjado, amarillo, verde, azul o violeta para ayudar en el tratamiento de ciertas enfermedades. 

En la cromoterapia cada color posee vibraciones y propiedades terapéuticas específicas, que ayudan al paciente a conocer y explorar su interior, influenciando el sistema nervioso de acuerdo con los objetivos del tratamiento.

1. Rojo
El rojo es un color primario con propiedades estimulantes, que cuando se usa adecuadamente activa los 5 sentidos, el sistema nerviosos central, el hígado y contribuye a la producción saludable de glóbulos rojos y de hemoglobina.

2. Naranja
El anaranjado es un color que deriva de la unión entre el amarillo y el rojo, aumenta la energía de los pulmones y del estómago, ayudando también en el tratamiento de las náuseas. Puede aumentar las pulsaciones, estimular la tiroides y el crecimiento de los huesos, produciendo energía que se extiende a través del cuerpo.

3. Amarillo
El amarillo es un color que tonifica los músculos, activa los ganglios linfáticos y mejora el sistema digestivo, estimulando los intestinos, el páncreas y los fluidos digestivos. Es considerado purificador y cuando se usa de manera adecuada, ayuda a remover toxinas y parásitos del tracto digestivo. Además, contribuye a eliminar imperfecciones de la piel y actúa como un purificador de la sangre. El color amarillo puede también ayudar a mejorar estados de depresión, apatía y falta de ánimo.


4. Verde
El verde es el color más abundante en el planeta, presente en la vegetación y contribuye para el alivio de la tensión, equilibrando el cerebro y estimulando la glándula pituitaria que controla todas las demás glándulas del cuerpo. Es un color estabilizador de las disfunciones crónicas y agudas y es la más usada para aliviar gripes y resfriados, y tratar infecciones.

5. Azul
El azul ayuda a eliminar las toxinas a través de la respiración, estimulando poderes intuitivos y construyendo vitalidad. Además, alivia la irritación, comezón y el dolor de afecciones cutáneas, alivia la fiebre y la inflamación y activa la glándula pineal.

6. Violeta
El violeta contribuye en el control del hambre por interferir en el metabolismo, ayuda a calmar los órganos, relajar los músculos incluyendo al corazón y a combatir infecciones. También contribuye a la purificación de la sangre y es un calmante usado en la meditación, en el sueño y en el alivio del dolor.

</p>

{% endblock %}