<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
    <h1>Busca por nombre</h1>
    <form action="/api/buscarblend" method="post">
        <label for="name">Blends Nombre</label><br>
        <input type="text" name="name" id="name" value="Ingrese"><br>

        
        <input type="submit" value="Enviar">

    </form>


</body>
</html>