<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anade un nuevo blends</h1>

    <form action="/api/addsblends" method="post">
        <label for="name">Blends Nombre</label><br>
        <input type="text" name="name" id="name" value="Ingrese"><br>

        <label for="compuesto">Componentes</label><br>
        <input type="text" name="compuesto" id="compuesto" value="Ingrese"><br>

        <label for="valor">Valor</label><br>
        <input type="text" name="valor" id="valor" value="0"><br>

        <input type="submit" value="Enviar">

    </form>
</body>
</html>