
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colores</title>
</head>
<body>
    
<p>
    La cromoterapia, también conocida como terapia de los colores, es una terapia alternativa donde se utilizan colores básicos como: <br>
    rojo, anaranjado, amarillo, verde, azul o violeta para ayudar en el tratamiento de ciertas enfermedades. <br>

    En la cromoterapia cada color posee vibraciones y propiedades terapéuticas específicas, que ayudan al paciente a conocer y explorar su interior, <br>
    influenciando el sistema nervioso de acuerdo con los objetivos del tratamiento.
<ol>
    <li> Rojo
El rojo es un color primario con propiedades estimulantes, que cuando se usa adecuadamente activa los 5 sentidos, <br>
el sistema nerviosos central, el hígado y contribuye a la producción saludable de glóbulos rojos y de hemoglobina.
    </li> 

    <li> Naranja
El anaranjado es un color que deriva de la unión entre el amarillo y el rojo, <br>
aumenta la energía de los pulmones y del estómago, ayudando también en el tratamiento de las náuseas. <br>
Puede aumentar las pulsaciones, estimular la tiroides y el crecimiento de los huesos, produciendo energía que se extiende a través del cuerpo.
    </li> 
    <li> Amarillo
El amarillo es un color que tonifica los músculos, activa los ganglios linfáticos y mejora el sistema digestivo, <br>
estimulando los intestinos, el páncreas y los fluidos digestivos. Es considerado purificador y cuando se usa de manera adecuada, <br>
ayuda a remover toxinas y parásitos del tracto digestivo. Además, contribuye a eliminar imperfecciones de la piel y actúa como un purificador de la sangre. <br>
El color amarillo puede también ayudar a mejorar estados de depresión, apatía y falta de ánimo.
    </li>

    <li> Verde
El verde es el color más abundante en el planeta, presente en la vegetación y contribuye para el alivio de la tensión, <br>
equilibrando el cerebro y estimulando la glándula pituitaria que controla todas las demás glándulas del cuerpo. <br>
Es un color estabilizador de las disfunciones crónicas y agudas y es la más usada para aliviar gripes y resfriados, y tratar infecciones.
    </li>
    <li> Azul
El azul ayuda a eliminar las toxinas a través de la respiración, estimulando poderes intuitivos y construyendo vitalidad. <br>
Además, alivia la irritación, comezón y el dolor de afecciones cutáneas, alivia la fiebre y la inflamación y activa la glándula pineal.
    </li>
    <li> Violeta
El violeta contribuye en el control del hambre por interferir en el metabolismo, ayuda a calmar los órganos, <br>
relajar los músculos incluyendo al corazón y a combatir infecciones. También contribuye a la purificación de la sangre y es un calmante usado en la meditación, <br>
en el sueño y en el alivio del dolor.
    <li>
        El blanco es el color perfecto; porque es todos los colores, en perfecto equilibrio y armonía. La luz blanca eleva la vibración de la propia conciencia y el cuerpo, <br>
        con lo que la armonía en todos los aspectos de la vida de uno. <br> 
        Direccionar el blanco a una parte del cuerpo que necesita curación es una de las maneras más rápidas para lograr la curación.
    </li>

    </li>
</ol>
</p>
<img src="static/cromoterapia.jpg" alt="cromoterapia">
</body>
</html>

