
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleccion</title>
</head>
<body>
    <h1>Ahora si, elije un color.</h1>
<p>Primero te recomiendo que te tomes tu tiempo, pienses en la situacion actual y que te gustaria cambiar de ella</p>

<ol>
    <li>Rojo</li>
    <li>Naranja</li>
    <li>Amarillo</li>
    <li>Verde</li>
    <li>Violeta</li>
    <li>Azul</li>
    <li>Blanco</li>
</ol>

<a href="colores.html">Colores</a>

<form action="/api/eleccion" method="post">

    <label for="color">Color: </label><br>

    <input type="text" name="color" id="color" value="Elijo"><br>

    
    <input type="submit" value="Enviar">

</form>


    
</body>
</html>


