
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body bgcolor="pink">
<center>
    <h1>Complete el formulario para empezar</h1>

<form action="{{url_for('eleccion')}}">
    Nombre: <input type="text" name="name" placeholder="Nombre" required>
    <br>
    Edad: <input type="text" name="edad" placeholder="Edad" required >
    <br>
    Correo: <input type="text" name="correo" placeholder="Correo" required>
    <b>
    <input type="submit" value="Ingresar">
    </b>

</center>
</form>

</body>
</html>





